/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*  */

* {
  background-color: #21232a;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 20px;
}

input {
  color: aqua;
  background-color: lightslategray;
  border: 2px solid darkblue;
  font-size: 1rem;
  height: 20px;
  width: 50%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid darkcyan;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  margin: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); */
  box-shadow: 3px 5px 5px lightslategrey;
  /* box-shadow: 10px -16px teal; */
}

.card p {
  padding: 7px;
  color: lightslategray;
  font-size: 10px;
  /* text-align: 100px; */
}

.card img {
  max-height: 150px;
}
